@import url('https://fonts.googleapis.com/css2?family=Proza+Libre&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
  --blackblue: #041621;
  --darkblue: #06283D;
  --blue: #1363DF;
  --lightblue: #47B5FF;
  --whiteblue: #DFF6FF;
  --principalfont: 'Proza Libre', sans-serif;
}

/*Remove input type number arrows*/
	/* Chrome, Safari, Edge, Opera */
	input::-webkit-outer-spin-button,
	input::-webkit-inner-spin-button {
	  -webkit-appearance: none;
	  margin: 0;
	}

	/* Firefox */
	input[type=number] {
	  -moz-appearance: textfield;
	}

input{
	text-align: center;
	margin: 5px 0 5px 0;
	width: 300px;
	height: 30px;
	border: none;
	background-color: var(--whiteblue);
	font-family: var(--principalfont);
	transition: 0.4s;
}

input:hover{
	cursor: pointer;
	background-color:var(--lightblue);
}

.section-search > input{
	font-size: 1rem;
	height: 50px;
	border-radius: 10px;
	background-color: var(--whiteblue);
}
button{
	border-radius: 10px;
	font-size: 1rem;
	height: 45px;
	width: 200px;
	border: none;
	background-color: var(--lightblue);
	transition: 0.45s;
	font-family: var(--principalfont);
}

button:hover{
	cursor: pointer;
	background-color: var(--blue);
}
body{
	background: var(--blackblue);
}

.header{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 20vh;
	font-family: var(--principalfont);
	color: #fff;
}

.main{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	width: 100%;
	height: 80vh;
}

.section-search{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-family: var(--principalfont);
	height: 40vh;
	width: 30vw;
	background-color: var(--darkblue);
	border-radius: 40px;
}

.section-data{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 40vh;
	width: 40vw;
	flex-direction: column;
	background-color: var(--darkblue);
	border-radius: 40px;
}
